<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Mediscreen - Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row"><h2>Lists:</h2></div>
    <div class="row">
        <div class="col-6">
            <a href="/patient/list">Patients</a>&nbsp;|&nbsp;
            <a href="/pathistory/list">Pat Histories</a>&nbsp;|&nbsp;
            <a href="/assessment/list">Assessments</a>&nbsp;|&nbsp;
        </div>
    </div>
</div>
</body>
</html>