<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Mediscreen - Patient History</title>
<link href="../static/css/bootstrap.min.css" th:href="@{../../css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<a href="/home">Home</a>&nbsp;|&nbsp;
				<a href="/patient/list">Patients List</a>&nbsp;|&nbsp;
	            <a href="/assess/assess">Diabetes Assessments</a>&nbsp;|&nbsp;
			</div>
		</div>
		<div class="row"><h3>Patient</h3></div>
		<div class="row">
			<a style="width: 10%" th:href="@{/history/updatePatient/{id}(id=${patient.patientId})}" class="btn btn-success btn-sm">Update</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Family Name</th>
						<th>Given Name</th>
						<th>Sex</th>
						<th>Date of Birth</th>
						<th>Age</th>
						<th>Address</th>
						<th>Phone</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="patient : ${patient}">
						<td th:text="${patient.familyName}"></td>
						<td th:text="${patient.givenName}"></td>
						<td>
		  					<span style="width: 3%" th:if="${patient.sex == 'F'}">Female</span>
		  					<span style="width: 3%" th:unless="${patient.sex == 'F'}">Male</span>
						</td>
						<td style="width: 12%" th:text="${#temporals.format(patient.birthdate, 'dd/MM/yyyy')}"></td>
						<td style="width: 3%" th:text="${age}"></td>
						<td th:text="${patient.address}"></td>
						<td style="width: 15%" th:text="${patient.phone}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p></p>
		<div class="row"><h3>Diabetes Assessment: [[${assessment.assessmentResult}]]</h3></div>
		<p></p>
		<div class="row"><h2>History</h2></div>
		<div class="row">
			<a style="width: 10%" th:href="@{/history/addHistory/{id}(id=${patient.patientId})}" class="btn btn-primary btn-sm">New Note</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Date</th>
						<th>Practitioner Note</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="history : ${patientHistoryBeans}">
						<td style="width: 15%" th:text="${#temporals.format(history.historyDate, 'dd/MM/yyyy')}"></td>
						<td th:text="${history.practitionerNote}"></td>
						<td style="width: 15%" class="text-center">
							<a th:href="@{/history/updateHistory/{id}(id=${history.historyId})}">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/history/delete/{historyId}/{patientId}(historyId=${history.historyId},patientId=${patient.patientId})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>